body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
}

/* fraunces font 700*/
@font-face {
  font-family: fraunces;
  font-weight: 700;
  src: url(font\fraunces-v31-latin-700.woff2);
}

/* montserrat font 500 */
@font-face {
  font-family: montserrat-500;
  font-weight: 500;
  src: url(font\montserrat-v26-latin-500.woff2);
}

/*  montserrat font 700 */
@font-face {
  font-family: montserrat-700;
  font-weight: 700;
  src: url(font\montserrat-v26-latin-700.woff2);
}

@media only screen and (max-width: 600px) {
  .product-box__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .product-box {
    margin-inline: 1rem;
    margin-block: 1.5rem;
    min-height: 100vh;
  }
}

.product-box {
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.product-box__heading3 {
  font-family: fraunces;
}
