@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .product-box__image {
    min-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product-box {
    margin-inline: 1rem;
    margin-block: 1.5rem;
    min-height: 100vh;
  }

  .product-box__text-box {
    padding-inline: 2rem;
    padding-block-end: 2em;
  }

  .product-box__button--primary {
    min-width: 100%;
  }
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-box {
    display: flex;
    flex-direction: row;
    width: 80vw;
    max-width: 40rem;
    height: 80vh;

    border-radius: 10px;
  }
  .product-box__image {
    width: 50%;
    max-height: 40rem;
    height: 80vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
  }
  .product-box__text-box {
    margin-inline: 2rem;
    width: 50%;
  }
  .product-box__button--primary {
    min-width: 100%;
  }
}

.product-box {
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.product-box__heading {
  font-family: Fraunces;
  font-weight: 700;
}

.product-box__heading3 {
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: hsl(228, 12%, 48%);
}

.product-box__paragraph {
  font-family: Montserrat;
  font-size: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.5rem;
  font-size: 1rem;
}

.product-box__wrapperSale {
  display: flex;
  align-items: center;
}

.product-box__newSale {
  color: hsl(158, 36%, 37%);
  font-size: 2.5rem;
  font-family: Fraunces;
  font-weight: 700;
  display: inline-block;
}
.product-box__oldSale {
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: line-through;
  margin-inline-start: 1rem;
}

.product-box__button--primary {
  padding: 1rem;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.product-box__button--primary:hover {
  background-color: hsl(158, 60%, 38%);
}
.product-box__button--primary:focus {
  background-color: hsl(158, 60%, 38%);
}
.product-box__cartImage {
  margin-inline-end: 1rem;
}
